<div class="container text-center cafe-container cafe-background cake-font">
  <h1 class="mt-5 cafe-title elegant-header">ご注文ありがとうございました！</h1>
  <p class="cafe-text">5秒後に商品一覧ページにリダイレクトされます。</p>
</div>

<script class="mt-3">
  setTimeout(function(){
    window.location.href = "<%= items_path %>";
  }, 5000);
</script>
