<footer class="d-flex align-items-center justify-content-center" style="background-color: #808080;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="my-4">
          <i class="fas fa-envelope-square fa-2x fa-icon" style="color: #FFF5E4;"></i>
          <i id="info-icon-1" class="fas fa-info-circle ml-3 fa-2x fa-icon" style="color: #FFF5E4;"></i>
          <i id="info-icon-2" class="fas fa-share-alt-square ml-3 fa-2x fa-icon" style="color: #FFF5E4;"></i>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="my-4">
          <h5>Nagano Cake</h5>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="my-4">
          <i class="fab fa-instagram-square fa-2x fa-icon" style="color: #664a4a;"></i>
        </div>
        <% if admin_signed_in? %>
          <%= link_to 'Admin log out here', destroy_admin_session_path, method: :delete, class: "footer-link", style: "color: #FFF5E4;" %>
        <% else %>
          <%= link_to 'Admin Log in here', new_admin_session_path, class: "footer-link", style: "color: #FFF5E4;" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
